.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pretty-button {
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  background: green;
  border: none;
  outline: none;
  cursor: pointer;
}

.pretty-button:hover, .pretty-button:focus, .pretty-button:active {
  opacity: .7;
}

a {
  color: blue;
}

a:hover, a:focus, a:active {
  opacity: .7;
}